<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.lib_project.domain.admin.mapper.AdminMapper">

    <select id="getUserById" parameterType="java.lang.String" resultType="com.kcc.lib_project.domain.user.dto.UserDto">
        select id, address, email, name
        from users
        where id = #{id}
    </select>

    <select id="getBookInfoByCallNumber" parameterType="java.lang.String" resultType="com.kcc.lib_project.domain.admin.dto.OwnBookDto">
        select
            o.call_number as callNumber,
            b.title,
            b.publisher,
            b.publication_year as publicationYear,
            o.status,
            o.is_reserved as isReserved
        from own_book o
        inner join book b
        using (isbn)
        where call_number = #{callNumber}
    </select>

</mapper>
