<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.lib_project.domain.book.mapper.OwnBookMapper">

    <resultMap id="ownBookMap" type="OwnBookVo">
        <result property="callNumber" column="call_number"/>
        <result property="receiptAt" column="receipt_at"/>
        <result property="status" column="status"/>
        <result property="isbn" column="isbn"/>
        <result property="isReserved" column="is_reserved"/>
        <result property="version" column="version"/>
        <collection property="bookVo" resultMap="BookMap"/>
    </resultMap>

    <resultMap id="BookMap" type="BookVo">
        <result property="isbn" column="isbn"/>
        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="publisher" column="publisher"/>
        <result property="publicationYear" column="publication_year"/>
        <result property="pageSize" column="page_size"/>
        <result property="categoryNumber" column="category_number"/>
        <result property="contents" column="contents"/>
        <result property="bookIndex" column="book_index"/>
        <result property="imageUrl" column="image_url"/>
    </resultMap>

    <insert id="createOwnBook" parameterType="OwnBookVo">
        INSERT INTO own_book (call_number, receipt_at, status, isbn) VALUES (#{callNumber}, #{receiptAt}, #{status},
        #{isbn})
    </insert>

    <select id="selectOwnBookDetailByCallNumber" parameterType="String" resultMap="ownBookMap">
        <![CDATA[
        SELECT o.call_number,o.receipt_at, o.status, o.is_reserved, o.version, b.isbn, b.title, b.author, b.publisher, b.publication_year, b.page_size, b.category_number, b.contents, b.book_index, b.image_url
        FROM own_book o
                 LEFT JOIN book b ON o.isbn = b.isbn
        WHERE o.call_number = #{callNumber}
        ]]>
    </select>

    <select id="selectRecentlyTopTenOwnBooks" resultMap="ownBookMap">
        <![CDATA[
        SELECT * FROM (
                          SELECT o.call_number, b.title, b.image_url
                          FROM own_book o
                                   LEFT JOIN book b ON o.isbn = b.isbn
                          order by b.publication_year desc
                      )
        WHERE ROWNUM <= 10
        ]]>
    </select>

    <select id="selectPopularTopTenOwnBooks" resultMap="ownBookMap">
        <![CDATA[
        SELECT * FROM (
                          SELECT o.call_number, b.title, b.image_url, count(l.call_number) AS cnt
                          FROM loan l
                                   LEFT JOIN own_book o ON l.call_number = o.call_number
                                   LEFT JOIN book b ON o.isbn = b.isbn
                          group by o.call_number, b.title, b.image_url
                          order by cnt desc
                      )
        WHERE ROWNUM <= 10
        ]]>
    </select>

    <select id="selectOwnBooksByPageAndTypeAndKeyword" parameterType="map" resultMap="ownBookMap">
        <![CDATA[
        SELECT * FROM (
            SELECT sub.*, ROWNUM rnum FROM (
                SELECT o.call_number, o.receipt_at, o.status, b.isbn, b.title, b.author, b.publisher,
                       b.publication_year, b.page_size, b.category_number, b.image_url,count(l.call_number) AS cnt, DBMS_LOB.SUBSTR(b.contents, 1500, 1) AS contents,
                     DBMS_LOB.SUBSTR(b.book_index, 1500, 1) AS book_index
                FROM own_book o
                    LEFT JOIN book b ON o.isbn = b.isbn
                    LEFT JOIN loan l ON o.call_number = l.call_number
                WHERE 1=1
                    ]]>
        <if test='!keyword.equals("")'>
            AND b.title LIKE '%'||#{keyword}||'%'
        </if>
        GROUP BY o.call_number, o.receipt_at, o.status, b.isbn, b.title, b.author, b.publisher,
        b.publication_year, b.page_size, b.category_number, b.image_url, DBMS_LOB.SUBSTR(b.contents, 1500, 1),
        DBMS_LOB.SUBSTR(b.book_index, 1500, 1)
        <choose>
            <when test='type == "최신순"'>
                ORDER BY b.publication_year DESC
            </when>
            <when test='type == "인기순"'>
                ORDER BY cnt DESC
            </when>
            <otherwise>
                ORDER BY b.title
            </otherwise>
        </choose>
        ) sub
        <![CDATA[
            WHERE ROWNUM <= #{limit} + #{offset}
        ) WHERE rnum > #{offset}
        ]]>
    </select>

    <select id="count" parameterType="map" resultType="Long">
        <![CDATA[
        SELECT count(*) FROM (
            SELECT o.call_number, o.receipt_at, o.status, b.isbn, b.title, b.author, b.publisher,
                   b.publication_year, b.page_size, b.category_number, b.image_url,count(l.call_number) AS cnt, DBMS_LOB.SUBSTR(b.contents, 1000, 1) AS contents,
                     DBMS_LOB.SUBSTR(b.book_index, 1000, 1) AS bookIndex
            FROM own_book o
                LEFT JOIN book b ON o.isbn = b.isbn
                LEFT JOIN loan l ON o.call_number = l.call_number
            WHERE 1=1
                ]]>
        <if test='!keyword.equals("")'>
            AND b.title LIKE '%'||#{keyword}||'%'
        </if>
        <![CDATA[
        GROUP BY o.call_number, o.receipt_at, o.status, b.isbn, b.title, b.author, b.publisher,
                 b.publication_year, b.page_size, b.category_number, b.image_url, DBMS_LOB.SUBSTR(b.contents, 1000, 1), DBMS_LOB.SUBSTR(b.book_index, 1000, 1)
        ) sub
        ]]>
    </select>

    <update id="tryReserveBook">
        UPDATE own_book
        SET is_reserved = 1, version = version + 1
        WHERE call_number = #{callNumber} AND version = #{version}
    </update>

</mapper>




